
.disabled {
    background: rgba(0,0,0,.3) !important;
}
.certificate {
    width: 100%;
    height: 550px;
    background: url('./images/logo.png') no-repeat center;
}
.certificate .content {
    padding-top: 70px;
    display: flex;
    justify-content: space-around;
}
.certificate .left {
    padding: 110px 100px 238px 0px;
    display: flex;
    flex-direction: column;
}
.certificate .left h3 {
    font-size:34px;
    font-family:MicrosoftYaHei-Bold,MicrosoftYaHei;
    font-weight:bold;
    color:rgba(255,255,255,1);
    line-height:40px;   
    margin-bottom: 30px;
}
.certificate .left h5 {
    font-size:24px;
    font-family:MicrosoftYaHei;
    color:rgba(255,255,255,1);
    line-height:40px; 
    margin-right:-70px;  
    margin-left:-40px;
}
.certificate .right {
    width: 724px;
    height: 418px;
    background:rgba(0,0,0,.45);
    border-left: 1px solid #FFFFFF;
}
.certificate .right .form {
    padding-top:50px;
    padding-left: 110px;
}
.certificate .right .form label {
    display: block;
    margin-bottom: 40px;
}
.certificate .right .form label span {
    display: inline-block;
    width: 120px;
    font-size:24px;
    font-family:MicrosoftYaHei;
    color:rgba(255,255,255,1);
    line-height:40px;
}
.certificate .right .form label input {
    padding-left: 30px;
    font-size: 24px;
    width: 400px;
    height: 50px;
    background:rgba(240,240,240,.9)
}
.certificate .right .btn {
    width:360px;
    height:50px;
    background:rgba(213,61,47,.8);
    font-size: 24px;
    color:#FFFFFF;
    margin: 0 auto;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
}
/* 证书结果页 */
.certificateResult {
    margin-top: 40px;
    display: none;
}
.certificateResult h2 {
    font-size:34px;
    font-family:MicrosoftYaHei-Bold,MicrosoftYaHei;
    font-weight:bold;
    color:rgba(51,51,51,1);
    margin-bottom: 30px;
}
.certificateResult h2,
.certificateResult h5 {
    text-align: center;
}
.certificateResult h5 {
    font-size:24px;
    font-family:MicrosoftYaHei;
    color:#999999;
}
.certificateResult .cards ul{
    display: flex;
    justify-content: space-around;
    height: 51px;
    width: 1200px;
    margin: 36px auto 60px;
    position: relative;
}
.certificateResult .cards span.title {
    width:224px;
    height:51px;
    background:rgba(154,42,35,1);
    color: #FFFFFF;
    text-align: center;
    display: block;
    line-height: 51px;
    cursor: pointer;
    border-radius: unset;
    opacity: unset;
}
.certificateResult .download {
    padding: 32px;
    width: 100%;
    height:586px;
    background-color:rgba(154,42,35);
    background-image: url('./images/morphing-diamonds.png');
    background-repeat: repeat;
}
.certificateResult .download .card {
    /* width:379px;
    height:515px;
    position: relative;
    margin: 0 auto;
    cursor: pointer; */
    height:515px;
    position: relative;
}
.certificateResult .download .card img {
    display: block;
    width: 100%;
    height: 100%;
}
.certificateResult .download .card .mask {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background:rgba(0,0,0,.4);
}
.certificateResult .download .card .down {
    position: absolute;
    width:150px;
    height:50px;
    background:rgba(154,42,35,1);
    text-align: center;
    cursor: pointer;
    line-height: 50px;
    color: #FFFFFF;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
/* nozhengshu */
.nozhengshu {
    text-align: center;
    display: none;
}
.nozhengshu h2 {
    font-size: 24px;
    color: #9A2A23;
}
.nozhengshu h4 {
    font-size: 16px;
    color: #333333;
    margin: 8px 0 30px;
}
/* swiper */
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide-active,.swiper-slide-duplicate-active{
    transform: scale(1)!important;
    z-index: 111;
}
.swiper-slide {
text-align: center;
font-size: 18px;
background: #fff;

/* Center slide text vertically */
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
-webkit-justify-content: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;
transition: 300ms;
transform: scale(0.8);
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev,
.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    width: 50px!important;
    height: 100px!important;
}
.swiper-button-prev {
    left: -55px!important;
    background: url('./images/arrow_left.png') no-repeat !important;
}
.swiper-button-next {
    right: -55px!important;
    background: url('./images/arrow_right.png') no-repeat !important;
}