body{
	font-family:ו;
	font-size:9pt;
	background-color: #f7f7f7;
	color: #1A438E;
}
a{
	color:blue;
	text-decoration:none;
}
/**/
.div_size{
       background-color:#f0f8ff;
       border:none;
       text-align:left;
       height:260px;
       width:730px;
       overflow:auto;
       position:relative;
}
/**/
.div_div_size{
	   background-color:#f0f8ff;
	   border:none;
	   text-align:left;
	   padding-left:3px;
	   height:139px;
	   width:700px;
	   overflow:auto;
	   position:relative;

}
/**/
.tab_table {  border-collapse:collapse;cursor:hand; margin-left:0px; margin-top:0px;;padding-top:0px;margin-right:0px; margin-bottom:5px; border-style:solid; border-color:#96C2F1; }
.tab_table th{ border-color:#96C2F1; height:25px; text-align:center; vertical-align:middle; }
.tab_table tr{ height:25px; }
.tab_table td{ border: 1px solid;border-color:#96C2F1; vertical-align:middle;word-break:break-all;WORD-WRAP:break-word }

/**/
.Browse_table { border: 1px solid;cursor:hand;width:70%;border-collapse:collapse; margin-left:15px; margin-top:0px;;padding-top:0px;margin-right:0px; margin-bottom:5px;border-color:#96C2F1; }
.Browse_table th{ border: 1px solid;border-color:#96C2F1; height:25px; text-align:center; vertical-align:middle; }
.Browse_table tr{ border: 1px solid;height:25px; }
.Browse_table td{ border: 1px solid;border-color:#96C2F1; vertical-align:middle;word-break:break-all;WORD-WRAP:break-word }

/**/
.Browse_table_tr{ background-color:#D2E9F7;}
.mouse_click{ background-color:#f00;}
/**/
.tab_BaseData{
		width:790px;
		text-align:left;
		border-style:none;
		border-collapse:collapse;
}

.tab_BaseData tr{ height:30px; }
.tab_BaseData td{text-align:left;}



.td_lable{
		 text-align:right;
	     }
	     
.td_center{
		 text-align:center;
	     }
	     
.td_text{
		text-align:left;
	    }
.td_btn{
		height:50px;
	   }
.place {
		background-image: url(../images/general/m_mplace.gif);
		background-repeat: no-repeat;
		font-size: 14px;
		font-weight: bold;
		color: #1445A6;
		letter-spacing: 2px;
		padding: 0 0 0 40px;
		width:308px;
        }
	   
	   
	   
/*
.txt{
	border-top: solid 0px;
	border-bottom: solid 0px;
	border-left: solid 0px;
	border-right: solid 0px;
}*/
.textStyle1{
	font-size: 9pt;
	color:#1A438E;  
}

.textStyle2{
	font-size: 9pt;
	color:expression(this.readOnly == true?"#6c6c6c":"#000080");
}
a:visited {
	color: blue;
	text-decoration: none;
}/*
a:hover {
	color: blue;
	text-decoration: underline;
}*/
a:active {
	color: blue;
	text-decoration: none;
}
.textStyleMenuTree{
	font-family:ו;
	font-size:9pt;
}

.btn3_mouseout {
BORDER-RIGHT: #2C59AA 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #2C59AA 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 12px; FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#C3DAF5); BORDER-LEFT: #2C59AA 1px solid; CURSOR: hand; COLOR: black; PADDING-TOP: 2px; BORDER-BOTTOM: #2C59AA 1px solid;width:64px;
}
.btn3_mouseover {
BORDER-RIGHT: #2C59AA 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #2C59AA 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 12px; FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#D7E7FA); BORDER-LEFT: #2C59AA 1px solid; CURSOR: hand; COLOR: black; PADDING-TOP: 2px; BORDER-BOTTOM: #2C59AA 1px solid;width:64px;
}
.btn3_mousedown
{
BORDER-RIGHT: #FFE400 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #FFE400 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 12px; FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#C3DAF5); BORDER-LEFT: #FFE400 1px solid; CURSOR: hand; COLOR: black; PADDING-TOP: 2px; BORDER-BOTTOM: #FFE400 1px solid;width:64px;
}
.btn3_mouseup {
BORDER-RIGHT: #2C59AA 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #2C59AA 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 12px; FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#C3DAF5); BORDER-LEFT: #2C59AA 1px solid; CURSOR: hand; COLOR: black; PADDING-TOP: 2px; BORDER-BOTTOM: #2C59AA 1px solid;width:64px;
}

.tabOut1 { border-collapse:collapse;cursor:hand; margin-left:0px; margin-top:0px; margin-right:0px; margin-bottom:0px; border-style:solid; border-color:#96C2F1; }
.tabOut1 th{ border-color:#96C2F1; height:25px; text-align:center; vertical-align:middle; }
.tabOut1 tr{ height:25px; }
.tabOut1 td{ border: 1px solid;border-color:#96C2F1;text-align:center;vertical-align:middle;word-break:break-all;WORD-WRAP:break-word }

.tabOut { border-collapse:collapse; margin-left:50px; margin-top:5px; margin-right:50px; margin-bottom:5px; border-style:solid; border-color:#96C2F1; }
.tabOut th{ border-color:#96C2F1; height:25px; text-align:center; vertical-align:middle; }
.tabOut tr{ height:25px; }
.tabOut td{ border-color:#96C2F1; vertical-align:middle;word-break:break-all;WORD-WRAP:break-word }

.tabOut_2 { border-collapse:collapse; margin-left:50px; margin-top:5px; margin-right:50px; margin-bottom:5px; border-style:solid; border-color:#96C2F1; }
.tabOut_2 th{ border-color:#96C2F1; height:25px; text-align:center; vertical-align:middle; }
.tabOut_2 tr{ height:25px; }
.tabOut_2 td{ border-color:#96C2F1; text-align:left; vertical-align:middle; }

.tabInner { border-collapse:collapse; margin-left:5px; margin-top:5px; margin-right:5px; margin-bottom:5px; border-style:solid; border-color:#000066; background-color:#99CCFF; color:#000033; }
.tabInner th{ border-color:#000066; height:25px; text-align:center; vertical-align:middle; }
.tabInner tr{ height:20px; }
.tabInner td{ border-color:#000066; text-align:center; vertical-align:middle; }

.tabEdit { margin-left:50px; margin-top:20px; margin-right:50px; margin-bottom:20px; }
.tabEdit th{ height:25px; vertical-align:middle; }
.tabEdit tr{ height:25px; }
.tabEdit td{ vertical-align:middle; }

.tabQuery { border-collapse:collapse; margin-left:50px; margin-top:10px; margin-right:50px; margin-bottom:10px;  border-color:#96C2F1; border-style:solid;  }
.tabQuery th{ border-color:#96C2F1; height:25px; vertical-align:middle; }
.tabQuery tr{ height:25px; }
.tabQuery td{ border-color:#96C2F1; vertical-align:middle; }

.toHand {
CURSOR: hand;
}


.ui-tabs-hide {
	DISPLAY: none
}
.ui-tabs-nav {
	FONT-SIZE: 12px; FONT-FAMILY: "Trebuchet MS", Trebuchet, Verdana, Helvetica, Arial, sans-serif
}
.ui-tabs-panel {
	FONT-SIZE: 12px; FONT-FAMILY: "Trebuchet MS", Trebuchet, Verdana, Helvetica, Arial, sans-serif
}
.ui-tabs-nav {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.ui-tabs-nav:unknown {
	CLEAR: both; DISPLAY: block; content: " "
}
.ui-tabs-nav LI {
	FLOAT: left; MARGIN: 0px 0px 0px 0px; min-width: 84px; CURSOR: hand;
}
.ui-tabs-panel {
	PADDING-RIGHT: 10px; BORDER-TOP: #97a5b0 1px solid;border:none;width:99%; PADDING-LEFT: 10px; BACKGROUND: #f0f8ff; PADDING-BOTTOM: 1.2em; PADDING-TOP: 0.5em;PADDING-LEFT:0em;PADDING-RIGHT:1.2em
}
 HTML .ui-tabs-nav {
	DISPLAY: inline-block
}
UNKNOWN {
	DISPLAY: inline-block
}
.ui-tabs-nav A {
	PADDING-RIGHT: 8px; DISPLAY: block; PADDING-LEFT: 8px; BACKGROUND: url(tab.png) no-repeat; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.ui-tabs-nav A SPAN {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; BACKGROUND: url(tab.png) no-repeat; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.ui-tabs-nav A {
	PADDING-LEFT: 0px; FONT-WEIGHT: bold; MARGIN: 1px 0px 0px; COLOR: #27537a; LINE-HEIGHT: 1.2; WHITE-SPACE: nowrap; TEXT-ALIGN: center; TEXT-DECORATION: none; outline: 0
}
.ui-tabs-nav A SPAN {
	PADDING-RIGHT: 0px; MIN-HEIGHT: 18px; WIDTH: 64px; PADDING-TOP: 6px; HEIGHT: 18px; min-width: 64px
}
.ui-tabs-nav A:hover {
	BACKGROUND-POSITION: 100% -150px
}
.ui-tabs-nav A:unknown {
	BACKGROUND-POSITION: 100% -150px
}
.ui-tabs-nav A:active {
	BACKGROUND-POSITION: 100% -150px
}
.ui-tabs-nav A {
	BACKGROUND-POSITION: 100% -100px
}
.ui-tabs-nav A:hover SPAN {
	BACKGROUND-POSITION: 0px -50px
}
.ui-tabs-nav A:unknown SPAN {
	BACKGROUND-POSITION: 0px -50px
}
.ui-tabs-nav A:active SPAN {
	BACKGROUND-POSITION: 0px -50px
}
.ui-tabs-nav A SPAN {
	BACKGROUND-POSITION: 0px 0px
}
.ui-tabs-nav A:hover {
	CURSOR: pointer
}
.ui-tabs-nav A:unknown {
	CURSOR: pointer
}
.ui-tabs-nav A:active {
	CURSOR: pointer
}

.ui-tabs-nav .ui-tabs-unselect
{
	background-image: url(../images/tab/tab.gif);
	background-repeat: no-repeat;
}
.ui-tabs-nav .ui-tabs-hover
{
	background-image: url(../images/tab/tab_over.gif);
	background-repeat: no-repeat;
}
.ui-tabs-nav .ui-tabs-selected
{
	background-image: url(../images/tab/tab_selected.gif);
	background-repeat: no-repeat;
}
.ui-tabs-nav .ui-tabs-selected A
{
	COLOR: #FFF; POSITION: relative; TOP: 1px; Z-INDEX: 2;
	/* MARGIN-TOP: 0px; */
}
/**/
.th_relative{   
	/*background-color:#f0f8ff;*/
	/*top:expression(document.getElementById(this.id.substr(0,this.id.indexOf("_"))).scrollTop-0);*/
	/*top:expression(document.getElementById(this.id).scrollTop-1);*/  
	/*position:relative;*/
	/*z-index:1;*/
	/*border-style:solid;*/
  }
  
/**/
input {
	border:solid 1px #96C2F1;
}
/*.txthover {background:#cfc}*/
.txtfocus {border-color:#00c;background-color:#fff;}

/**/
html { overflow-x:hidden; }

.grid-loading
{
    DISPLAY: block;
    BACKGROUND: #e3e3e3;
    FILTER: alpha(opacity=50);
    TEXT-ALIGN: center;
    opacity: .50;
    -moz-opacity: .50
}
.grid-loading DIV
{
	DISPLAY: block;
    BACKGROUND: url(../images/00_public/ajax-loader.gif) no-repeat center center;
    WIDTH: 100%;
    HEIGHT: 100%
}

.scroll-left{float:left;position:relative;background:url(../images/00_public/tab-left.gif) no-repeat;width:19px;height:25px;cursor:pointer;z-index:5}
.scroll-right{position:relative;background:url(../images/00_public/tab-right.gif) no-repeat;width:19px;height:25px;cursor:pointer;z-index:5}
.tab_div{float:left;width:5000px;position:relative;left:0px;height:21px;}
.tab_div_container{FLOAT: left; OVERFLOW: hidden; HEIGHT: 25px; POSITION: relative; WIDTH: 761px;}

.spliter1{
	/*background-color:#dddbdc;*/
	margin-bottom:3px;
	width:90px;
	height:18px;
	vertical-align:middle;	
}
.spliter2{
	/*background-color:#dddbdc;*/
	margin-top:3px;
	width:90px;
	height:18px;
	vertical-align:middle;	
}
